@*model List<MyApp.Models.Client>*@

@{
    var ClientListes = ViewData["ClientListes"] as List<MyApp.Models.Client>;
}

<h1>Clients</h1>

<table class="table table-borderless table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom client</th>
            <th>detail</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var clientListe in @ClientListes)
        {
            <tr>
                <td>

                    <p class="mb-0 text-muted"><strong>
                            @clientListe.id
                        </strong></p>
                </td>
                <td>
                    <p class="mb-0 text-muted"><strong>
                            @clientListe.nom
                        </strong></p>
                </td>
                <td><a class="nav-link text-dark" asp-area="" asp-controller="Client" asp-action="Detail" asp-route-id="@clientListe.id">
                        . . .
                    </a></td>
            </tr>
        }
    </tbody>
</table>
